.btnProperties {
  margin: 5px;
  width: 80px;
  height: 38px;
}

.alignProperties {
  vertical-align: middle;
  text-align: center;
}

.header-normal {
  width: 20%;
  cursor: pointer;
}

.header-actions {
  width: 20%;
}

.icon-actions {
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 20px;
  margin-left: 20px;
}

.disable-text-selection {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
