<table class="table table-striped alignProperties">
  <thead>
    <tr>
      <th class="header-normal disable-text-selection" (click)="sortByHeader('name')">Footbal Team Name
        <img src="../assets/svg/arrow-up.svg" *ngIf="showArrow && headerTitle == 'name' && isAsc" title="Ascending" />
        <img src="../assets/svg/arrow-down.svg" *ngIf="showArrow && headerTitle == 'name' && !isAsc"
          title="Descending" />
      </th>

      <th class="header-normal disable-text-selection" (click)="sortByHeader('stadium')">Team Stadium
        <img src="../assets/svg/arrow-up.svg" *ngIf="showArrow && headerTitle == 'stadium' && isAsc"
          title="Ascending" />
        <img src="../assets/svg/arrow-down.svg" *ngIf="showArrow && headerTitle == 'stadium' && !isAsc"
          title="Descending" />
      </th>

      <th class="header-normal disable-text-selection" (click)="sortByHeader('foundation')">Team Foundation
        <img src="../assets/svg/arrow-up.svg" *ngIf="showArrow && headerTitle == 'foundation' && isAsc"
          title="Ascending" />
        <img src="../assets/svg/arrow-down.svg" *ngIf="showArrow && headerTitle == 'foundation' && !isAsc"
          title="Descending" />
      </th>

      <th class="header-normal disable-text-selection" (click)="sortByHeader('supporters')">Team Supporters
        <img src="../assets/svg/arrow-up.svg" *ngIf="showArrow && headerTitle == 'supporters' && isAsc"
          title="Ascending" />
        <img src="../assets/svg/arrow-down.svg" *ngIf="showArrow && headerTitle == 'supporters' && !isAsc"
          title="Descending" />
      </th>

      <th class="header-actions disable-text-selection">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let team of teams">
      <td>{{ team.teamName }}</td>
      <td>{{ team.teamStadium }}</td>
      <td>{{ team.teamFoundation | date:'dd/MM/yyyy' }}</td>
      <td>{{ team.teamSupporters | number:'1.0-0' }}</td>
      <td>
        <img src="../assets/svg/eye.svg" class="icon-actions" (click)="viewFootballTeam(team.teamId, viewModal)"
          title="Details" />
        <img src="../assets/svg/pencil.svg" class="icon-actions" (click)="updateFootballTeam(team.teamId)"
          title="Edit" />
        <img src="../assets/svg/trash.svg" class="icon-actions" (click)="deleteFootballTeam(team.teamId)"
          title="Delete" />
      </td>
    </tr>
  </tbody>
</table>

<ng-template #viewModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" style="text-align: center">View Details</h4>
  </div>

  <div class="modal-body">

    <div>
      <label><b> Football Team Name: </b></label> {{ team.teamName }}
    </div>

    <div>
      <label><b> Team Stadium: </b></label> {{ team.teamStadium }}
    </div>

    <div>
      <label><b> Team Foundation: </b></label> {{ team.teamFoundation | date:'dd/MM/yyyy' }}
    </div>

    <div>
      <label><b> Team Supporters </b></label> {{ team.teamSupporters | number:'1.0-0' }}
    </div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>
